<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793242742579-qtomvmu7gln7h9jqh9h7uaid4f2r4mbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793242742579-qtomvmu7gln7h9jqh9h7uaid4f2r4mbt</string>
	<key>API_KEY</key>
	<string>AIzaSyA_wrqDDcbxp9nQKDLeyLXyEVjmhYmw-hk</string>
	<key>GCM_SENDER_ID</key>
	<string>793242742579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.icarttest</string>
	<key>PROJECT_ID</key>
	<string>icarttest</string>
	<key>STORAGE_BUCKET</key>
	<string>icarttest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793242742579:ios:89d76e127ab7a97e751846</string>
</dict>
</plist>